@import 'social-share/colors';

// Social share icons
.social-share-icons {
    display: inline-flex;
    align-items: center;
    padding-left: .6rem;
    &.float {
        display: block;
        position: fixed;
        width: 65px;
        left: 1.2rem;
        bottom: 1.2rem;
        padding-left: 0;
        .social-share-link {
            background-color: rgba($white, .65);
        }
    }
    &.block {
        display: flex;
        padding-left: 0;
    }
    .social-share-link {
        display: inline-flex;
        margin: 3px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        padding: 10px;
        transition: background-color ease-in-out 280ms, color ease-in-out 280ms;
        svg {
            width: 100%;
            height: auto;
        }
        &.small {
            width: 22.5px;
            height: 22.5px;
            padding: 7.5px;
        }
        &.large {
            width: 35px;
            height: 35px;
        }
    }
}

// Icons inside the featured image
.social-share-image-wrapper {
    position: relative;
    .social-share-icons {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        right: 1.2rem;
        bottom: 1.2rem;
        .social-share-link {
            background-color: rgba($white, .65);
        }
    }
}

// Default icon colors
.social-share-link {
    &.facebook {
        border: 1px solid $facebook;
        color: $facebook;
        &:hover {
            background-color: $facebook;
            color: $white;
        }
    }
    &.twitter {
        border: 1px solid $twitter;
        color: $twitter;
        &:hover {
            background-color: $twitter;
            color: $white;
        }
    }
    &.whatsapp {
        border: 1px solid $whatsapp;
        color: $whatsapp;
        &:hover {
            background-color: $whatsapp;
            color: $white;
        }
    }
    &.viber {
        border: 1px solid $viber;
        color: $viber;
        &:hover {
            background-color: $viber;
            color: $white;
        }
    }
    &.pinterest {
        border: 1px solid $pinterest;
        color: $pinterest;
        &:hover {
            background-color: $pinterest;
            color: $white;
        }
    }
    &.linkedin {
        border: 1px solid $linkedin;
        color: $linkedin;
        &:hover {
            background-color: $linkedin;
            color: $white;
        }
    }
}
