// Import the color variables
@import 'social-share/colors';

// Social share icons
.social-share-icons {
    display: inline-flex;
    align-items: center;
    padding-left: .6rem;
    &.float {
        display: block;
        position: fixed;
        width: 45px;
        left: 1.2rem;
        bottom: 1.2rem;
        padding-left: 0;
        .social-share-link {
            background-color: rgba($white, .65);
            &:not(.share) {
                visibility: hidden;
            }
        }
        &:hover {
            .social-share-link {
                visibility: visible;
            }
        }
    }
    &.block {
        display: flex;
        padding-left: 0;
    }
    &:hover {
        .share {
            background-color: $share;
            color: $white;
        }
    }
    .social-share-link {
        display: inline-flex;
        box-sizing: border-box;
        margin: 3px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 45px;
        height: 45px;
        padding: 10px;
        transition: background-color ease-in-out 280ms, color ease-in-out 280ms;
        svg {
            width: 100%;
            height: auto;
        }
        &.small {
            width: 35px;
            height: 35px;
            padding: 5px;
        }
        &.large {
            width: 55px;
            height: 55px;
        }

        // Hide links from non-moblie browsers
        @media only screen and (min-width: 760px) {
            &.viber,
            &.whatsapp {
                display: none;
            }
        }
    }
}

// Icons inside the featured image
.social-share-image-wrapper {
    position: relative;
    .social-share-icons {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        right: 1.2rem;
        bottom: 1.2rem;
        .social-share-link {
            background-color: rgba($white, .65);
        }
    }
}

// Define mixin to generate styles for social share links
@mixin social-share-styles($color) {
    border: 1px solid $color;
    color: $color;
    &:hover {
        background-color: $color;
        color: $white;
    }
}

// Generate styles for social share links
.social-share-link {
    &.facebook {
        @include social-share-styles($facebook);
    }
    &.twitter {
        @include social-share-styles($twitter);
    }
    &.whatsapp {
        @include social-share-styles($whatsapp);
    }
    &.viber {
        @include social-share-styles($viber);
    }
    &.pinterest {
        @include social-share-styles($pinterest);
    }
    &.linkedin {
        @include social-share-styles($linkedin);
    }
    &.share {
        @include social-share-styles($share);
    }
}
